@using Xaviasale.ClassHelper
<style>
    input[type="text"] {
        padding: 6px;
        width: 100%;
        border-radius: 4px;
    }

    .daterangepicker {
        z-index: 99999;
    }
    #btn-send {
        width: 150px;
        height: 35px;
        font-weight: bold;
        color: #fff;
        border: 0;
        background: #006fce;
        cursor: pointer;
    }
    .wrap-border {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 5px 10px;
    }
</style>
<div class="row">
    <div class="col-6">
        <input type="text" name="daterange" class="form-control" value="" />
    </div>
    <div class="col-3">
        <div class="wrap-border">
            <p style="font-size: 16px;" id="total"><b>Orders: <span id="totalOrders"></span></b></p>
        </div>
    </div>
    <div class="col-3">
        <div class="wrap-border">
            <p style="font-size: 16px;" id="total"><b>Total: <span id="totalStatisticPrice"></span></b></p>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="col-12">
        <div id="grid-product-statistic"></div>
    </div>
</div>
<script>
    $(function () {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left'
        }, function (start, end, label) {
            var gridData = $("#grid-product-statistic").data("kendoGrid");
            gridData.destroy();
            renderGrid(start, end);
        });
        renderGrid($('input[name="daterange"]').data('daterangepicker').startDate, $('input[name="daterange"]').data('daterangepicker').endDate);
    });
    function renderGrid(start, end) {
        $("#grid-product-statistic").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: "/umbraco/surface/backofficeshoppingcart/GetStatisticByDateRange/?startDate=" + start + "&endDate=" + end,
                },
                pageSize: 20
            },
            noRecords: {
                template: "No data available at this date."
            },
            height: 500,
            groupable: false,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            detailInit: detailInit,
            columns: [
                {
                    title: "No.",
                    field: "ItemNo",
                    width: 50
                },
                {
                    title: "First Name",
                    field: "FirstName"
                },
                {
                    title: "Last Name",
                    field: "LastName"
                },
                {
                    title: "Address",
                    field: "Address"
                },
                {
                    title: "Order Date",
                    template: "#= kendo.toString(kendo.parseDate(CreateDate), 'dd MMM yyyy HH:mm:ss') #"
                },
                {
                    title: "Total",
                    template: "$ #= TotalPrice #"
                }
            ],
            dataBound: function (e) {
                //this.expandRow(this.tbody.find("tr.k-master-row").first());

                var grid = $("#grid-product-statistic").data("kendoGrid");
                var total_price = 0;
                grid.dataSource.data().forEach(element => {
                    total_price += element.TotalPrice;
                });
                $("#totalOrders").text(grid.dataSource.total());
                $("#totalStatisticPrice").text("$ " + total_price + "");
            }
        });
    }
    function detailInit(e) {
        $("<div/>").appendTo(e.detailCell).kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: "/umbraco/surface/backofficeshoppingcart/GetDetailStatistic/?orderId=" + e.data.OrderId,
                }
            },
            scrollable: false,
            sortable: true,
            pageable: false,
            columns: [
                {
                    title: "No.",
                    field: "ItemNo",
                    width: 50
                },
                {
                    title: "Product Name",
                    template: "<a href='#= ProductUrl #' target='_blank'>#= ProductName #</a>"
                },
                {
                    field: "Quantity",
                    title: "Quantity"
                },
                {
                    title: "Product Color",
                    template: "#= Color #"
                },
                {
                    title: "Product Price",
                    template: "$ #= ProductPrice #"
                }
            ]
        });
    }
</script>