<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/Content/assets/css/kendo.common.min.css" rel="stylesheet">
    <link href="/Content/assets/css/kendo.bootstrap.min.css" rel="stylesheet">
    <link href="/Content/assets/css/kendo.bootstrap.mobile.min.css" rel="stylesheet">
    <link href="/Content/assets/css/style.css" rel="stylesheet">

</head>
<body>
    <div id="grid"></div>
    <div id="window"></div>

    <script src="/Content/assets/js/jquery.min.js"></script>
    <script src="/Content/assets/js/sweetalert.min.js"></script>
    <script src="/Content/assets/js/jszip.min.js"></script>
    <script src="/Content/assets/js/kendo.all.min.js"></script>
    <script src="/Content/assets/js/shoppingCart.js"></script>
</body>
</html>


