@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var home = Umbraco.AssignedContentItem.Root();
    var logo = home.Value<IPublishedContent>("logo");
    var lstNavigations = home.Children().Where(x => x.Value<bool>("showOnNavigation"));
}
<header id="header" data-section="header" class="header-mobile fixed-header--true">
    <div class="container">
        <div class="header-wrapper">
            <div class="row px8 py8 align-center header-wrap">
                <label class="mobile-nav relative flex align-center justify-center pointer mb0" aria-hidden="true">
                    <div class="relative">
                        <span class="d-block w-100 p0"></span>
                        <span class="d-block w-100 p0"></span>
                        <span class="d-block w-100 p0"></span>
                        <span class="d-block w-100 p0"></span>
                    </div>
                </label>
                <div class="logo w-100 mx8 visible-search-cart">
                    <a aria-current="page" href="@home.Url()" class="flex items-center link-initial logo-img" tag="a">
                        <img src="@(logo != null ? logo.Url() : "/images/logo.png")" alt="hygoshops" class="image sb-lazy priority is-medium" data-loaded="true">
                    </a>
                </div>
                <a href="" class="search-icon relative flex align-center justify-center">
                    <div class="svg-container">
                        <svg width="16" height="16" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <path d="M13.314,11.9 L15.707,14.293 C16.098,14.684 16.098,15.316 15.707,15.707 C15.512,15.902 15.256,16 15,16 C14.744,16 14.488,15.902 14.293,15.707 L14.293,15.707 L11.9,13.314 C12.429,12.903 12.903,12.429 13.314,11.9 L13.314,11.9 Z M7,0 C10.86,0 14,3.14 14,7 C14,10.86 10.86,14 7,14 C3.14,14 0,10.86 0,7 C0,3.14 3.14,0 7,0 Z M7,2 C4.243,2 2,4.243 2,7 C2,9.757 4.243,12 7,12 C9.757,12 12,9.757 12,7 C12,4.243 9.757,2 7,2 Z" fill="#000000"></path>
                            </g>
                        </svg>
                    </div>
                </a>
                <div class="cart-container relative flex align-center justify-center">
                    <label class="carticon-label relative mb0" aria-hidden="true">
                        <div class="svg-container">
                            <svg viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-class">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <path d="M4.5,13 C5.32842712,13 6,13.6715729 6,14.5 C6,15.3284271 5.32842712,16 4.5,16 C3.67157288,16 3,15.3284271 3,14.5 C3,13.6715729 3.67157288,13 4.5,13 Z M12.5,13 C13.3284271,13 14,13.6715729 14,14.5 C14,15.3284271 13.3284271,16 12.5,16 C11.6715729,16 11,15.3284271 11,14.5 C11,13.6715729 11.6715729,13 12.5,13 Z M1.19005036,1.42996726e-13 C2.67201022,1.42996726e-13 3.92213803,1.07975203 4.1524641,2.52616334 L4.17515775,2.70144703 L4.905,9.998 L13.128,9.998 L14.0093246,3.59099394 L15.9906754,3.86348135 L14.8718863,11.9985854 L3.09502518,11.9985854 L2.18508615,2.90048234 C2.13789218,2.42860935 1.76773253,2.0606116 1.30698894,2.00678871 L1.19005036,2 L1.38555833e-13,2 L1.38555833e-13,1.42996726e-13 L1.19005036,1.42996726e-13 Z" fill="#000000"></path>
                                </g>
                            </svg>
                        </div>
                        <span class="cart-number">@Html.Action("RenderCartNumber", "Cart")</span>
                    </label>
                </div>
            </div>
            <div class="row w-100 header-modal">
                @Html.Partial("Layout/_MenuMobile")
            </div>
            <label class="overlay" aria-hidden="true"></label>
        </div>
    </div>
</header>